[bumpversion]
current_version = 0.12.0
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:pyproject.toml]

[bumpversion:file:biocypher/_metadata.py]
