*~
*__pycache__
build/
docs/pypath_log/
docs/_build/
.DS_Store
.vscode
biocypher.egg-info/
*.egg
dist/
*.prof
*.coverage
*.pickle
out/*
biocypher-log/*
*.log
dist/*
*.pye
*.pyc
*.kate-swp
.hypothesis
