*~
*__pycache__
build/
docs/pypath_log/
docs/_build/
docs/biocypher-log/
docs/modules/
docs/notebooks/*.yaml
docs/notebooks/*.py
.DS_Store
.vscode
biocypher.egg-info/
*.egg
dist/
*.prof
*.coverage
*.pickle
out/*
biocypher-log/*
biocypher-out/*
*.log
dist/*
*.pye
*.pyc
*.kate-swp
.hypothesis/
.venv/
.empty
.pytest_cache
*.graphml
.idea/*
.cache
*.iml
site/
# Example output files
example_graph.json
*.example.json
examples/*.json
