[tool.poetry]
name = "biocypher"
version = "0.2.0"
description = "Graph database standard for molecular biology"
authors = [
    "Sebastian Lobentanzer <sebastian.lobentanzer@uni-heidelberg.de>",
    "Denes Turei <turei.denes@gmail.com>"
]
license = "GPL-3.0-only"
packages = [
    { include = "biocypher" }
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Natural Language :: English",
    "Topic :: Scientific/Engineering :: Bio-Informatics"
]
repository = "https://github.com/saezlab/biocypher"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
neo4j = ">=4.4.0"
PyYAML = ">=5.0"
click = ">=7.0"
bmt = "*"
more_itertools = "*"
toml = "*"
appdirs = "*"
neo4j-utils = { git = "https://github.com/saezlab/neo4j-utils.git" }
# for local development one can switch to local path:
# neo4j-utils = { path = "../neo4j-utils/", develop = true }
myst-parser = "^0.18.0"
black = "^22.6.0"
matplotlib = "^3.5.2"

[tool.poetry.dev-dependencies]
pytest = ">=6.0"
tox = ">=3.20.1"
pre-commit = ">=2.17.0"
bump2version = "*"
coverage = ">=6.0"
sphinx = ">=5.0.0"
sphinx-rtd-theme = ">=1.0.0"
sphinx-last-updated-by-git = ">=0.3"
sphinx-autodoc-typehints = ">=1.18.0"
pytest-cov = "^3.0.0"
hypothesis = "^6.50.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/saezlab/biocypher/issues"

[tool.black]
line-length = 80
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
from_first = true
line_length = 79
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
known_num="numpy,pandas"
sections = "FUTURE,STDLIB,THIRDPARTY,NUM,FIRSTPARTY,LOCALFOLDER"
no_lines_before="LOCALFOLDER"
balanced_wrapping = true
force_grid_wrap = 0
length_sort = "1"
indent = "    "
profile = "black"

[tool.flake8]
ignore = ["D200", "D202", "D401", "D105", "W504"]
per-file-ignores = [
    "docs/source/conf.py:D100",
    "tests/*:D100,D101,D102",
    "*/__init__.py:F401"
]
max-line-length = 80
count = true

[tool.yapf]
based_on_style = "facebook"
split_penalty_before_if_expr = 0
split_penalty_import_names = 0
split_penalty_comprehension = 0
split_penalty_for_added_line_split = 0
split_penalty_after_opening_bracket = 0
split_before_first_argument = true
split_before_named_assigns = true
split_complex_comprehension = true